*{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul{
    list-style: none;

}
.nav{
    color: white;
    padding: 0 100px 50px 100px;
    background-color: rgb(22, 30, 59);
}
.top-nav-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.top-nav{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    align-self: center;
}
.bottom-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}
.bottom-nav > #awesome{
width: 400px;
}

.someTitle{
    text-align: center;
}

.some{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.some > .square > div > p  {
  font-size: 10px;

}
  .square {
    height: 150px;
    width: 150px;
    border: 2px solid rgb(28, 4, 244);
    border-radius: 10px;
    background-color: #ffffff;
  }

  .inspiring {
    display: flex;
    background-color: rgb(229, 229, 247);
    color: rgb(0, 0, 0);
    padding: 50px 175px;
    flex-direction: column;
  }

#thor{
    align-self: self-end;
  }

  .callto {
    margin: 50px auto;
    display: flex;
    height: 50%;
    width: 75%;
    border-radius: 10px;
    background-color: #367af0;
    justify-content: space-around;
  }

  .callto > li:nth-child(2) {
    align-self: center;
  }


  .rectangle2 > li {
    flex-direction: row;
  }
  .rectangle2 > button {
    width: 50%;
  }

  .copyright {
    width: auto;
    height: 70px;
    background-color: rgb(22, 30, 59);
    display: flex;  
    justify-content: center;  
    align-items: center;
  }
  

  .rectangle {
    height: 100%;
    width: 200px;
    background-color: #ffffff;
  }